services:
    nginx:
        container_name: simple_finances_nginx_local
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - ${APP_PORT:-8080}:80
        volumes:
            - .:/app
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php
        networks:
            - simple_finances_internal

    php:
        container_name: simple_finances_php_local
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        restart: unless-stopped
        env_file:
            - .env
        environment:
            HOME: /tmp
        volumes:
            - .:/app
        depends_on:
            - mysql
        working_dir: /app
        networks:
            - simple_finances_internal

    mysql:
        container_name: simple_finances_db_local
        image: mysql:8.0
        restart: always
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - debtstb:/var/lib/mysql
        ports:
            - ${DB_PORT:-3306}:3306
        environment:
            MYSQL_ROOT_HOST: '%'
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            TZ: ${DB_TZ:-UTC}
        networks:
            - simple_finances_internal

volumes:
    debtstb:

networks:
    simple_finances_internal:
        driver: bridge
