services:
    nginx:
        container_name: simple_finances_nginx_prod
        image: nginx:alpine
        restart: unless-stopped
        volumes:
            - .:/app
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.${TRAEFIK_APP_NAME}.rule=Host(`${APP_DOMAIN}`)"
            - "traefik.http.routers.${TRAEFIK_APP_NAME}.entrypoints=websecure"
            - "traefik.http.routers.${TRAEFIK_APP_NAME}.tls=true"
            - "traefik.http.routers.${TRAEFIK_APP_NAME}.tls.certresolver=le"
            - "traefik.http.services.${TRAEFIK_APP_NAME}.loadbalancer.server.port=80"
        networks:
            - simple_finances_internal
            - proxy

    php:
        container_name: simple_finances_php_prod
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        restart: unless-stopped
        user: "1000:1000"
        env_file:
            - .env
        environment:
            HOME: /tmp
        volumes:
            - .:/app
        depends_on:
            - mysql
        working_dir: /app
        networks:
            - simple_finances_internal

    mysql:
        container_name: simple_finances_db_prod
        image: mysql:8.0
        restart: always
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - debtstb:/var/lib/mysql
        environment:
            MYSQL_ROOT_HOST: '%'
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            TZ: ${DB_TZ:-UTC}
        networks:
            - simple_finances_internal

volumes:
    debtstb:

networks:
    simple_finances_internal:
        driver: bridge
    proxy:
        external: true
